<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>74885368895-enkioj6up39vs7cq214tqmedul5q2omh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74885368895-enkioj6up39vs7cq214tqmedul5q2omh</string>
	<key>API_KEY</key>
	<string>AIzaSyAmQEPr4g3tpAO2-Pmb6LGyoUkEcn6TCmc</string>
	<key>GCM_SENDER_ID</key>
	<string>74885368895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apptension.DevtalkVoteApp</string>
	<key>PROJECT_ID</key>
	<string>devtalk-vote-app-f8f06</string>
	<key>STORAGE_BUCKET</key>
	<string>devtalk-vote-app-f8f06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74885368895:ios:89b7e65e3a47b11a</string>
	<key>DATABASE_URL</key>
	<string>https://devtalk-vote-app-f8f06.firebaseio.com</string>
</dict>
</plist>